<div class="container">
  <angular-yandex-map [center]="[57.00004392041108, 40.974648566729556]" [zoom]="14">
    <angular-yandex-placemark [geometry]="[sight[0].latitude, sight[0].longitude]" [properties]="p2" (yaclick)="bb(2)"></angular-yandex-placemark>
    <angular-yandex-placemark [geometry]="[sight[1].latitude, sight[1].longitude]" [properties]="p3" (yaclick)="bb(3)"></angular-yandex-placemark>
    <angular-yandex-placemark *ngIf="b" [geometry]="[sight[10].latitude, sight[10].longitude]" [properties]="p3" (yaclick)="bb(3)"></angular-yandex-placemark>
  </angular-yandex-map>
</div>

<div>
    <h1>{{sight[0].name}}</h1>
    <br>
    <h1>{{sight[1].name}}</h1>
</div>